.mat-table {
    overflow-x: scroll;
}

.mat-row,
.mat-header-row {
    min-width: 2000px;
}
.mat-header-row {
    background: rgb(137, 155, 210)
}

#errorMessage {
    margin-top: 60px;
    text-align: center;
  }

  .example-spacer {
    flex: 1 1 auto;
  }