<mat-toolbar color="primary">
    <span>Generate QR-Code</span>
    <span class="example-spacer"></span>
    <a routerLink="/view-attendance" color = "white"><button mat-button class="example-icon" style="color: white" aria-label="Example icon-button with menu icon">
      View Attendance
    </button></a>
  </mat-toolbar>
  
  <div class="container">
    <div class="qrDataForm">
      <mat-vertical-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="collegeFormGroup">
          <form [formGroup]="collegeFormGroup">
            <ng-template matStepLabel>Enter College</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>College</mat-label>
              <input
                matInput
                placeholder="College"
                formControlName="collegeCtrl"
                [(ngModel)]="college"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="branchFormGroup">
          <form [formGroup]="branchFormGroup">
            <ng-template matStepLabel>Enter Branch</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Branch</mat-label>
              <input
                matInput
                placeholder="Branch"
                formControlName="branchCtrl"
                [(ngModel)]="branch"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="semFormGroup">
          <form [formGroup]="semFormGroup">
            <ng-template matStepLabel>Enter Semester</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Semester</mat-label>
              <input
                matInput
                placeholder="Sem"
                formControlName="semCtrl"
                [(ngModel)]="semester"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Enter Subject</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Subject</mat-label>
              <input
                matInput
                placeholder="Subject"
                formControlName="subCtrl"
                [(ngModel)]="subject"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" label="Select Date">
          <form [formGroup]="secondFormGroup">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="dateCtrl"
                [(ngModel)]="date"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
                required
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="classNoFormGroup">
          <form [formGroup]="classNoFormGroup">
            <ng-template matStepLabel>
              Class Number on the above date</ng-template
            >
            <mat-form-field appearance="fill">
              <mat-label> Class Number on the above date</mat-label>
              <input
                matInput
                placeholder="Class Number"
                formControlName="classNoCtrl"
                [(ngModel)]="classNumber"
                required
              />
            </mat-form-field>
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button matStepperNext>Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Submit</ng-template>
  
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="changeQrdata()">Generate QR</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
      
    </div>
    <div class="qr" *ngIf="isShowQR">
      <qr-code [value]="qrcode" [size]="width" [level]="level"></qr-code>
      <button id="submit" mat-button (click)="changeOTP()"></button>
      <div class="deleteBtn">
      <button  mat-raised-button color="primary"  (click)="deleteQR() ">
        Delete QR
      </button>
    </div>
    </div>
    <div id="errorMessage"></div>
    
  </div>
  
